body { background-color: black; color: brown;}
header{background-color:azure;}
.top_menu a{ color: black;}
.top_menu {background-color: beige;}
footer{background-color: azure;}
#slideshow{background-color: black;}
section{background-color: beige;}
.about.us{background-color: aliceblue;}
.hand_picked_deals_for_you{background-color: aliceblue;}


.top_menu ul  li{display: inline-block;
    margin-right: 15px;
    padding: 45px;
}

.top_menu ul li a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.hand_picked_deals_for_you img{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
footer {
    flex-direction: row;
    padding: 20px;
    display: 20px;
}

a:hover {color: blue;}

.contacts{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.our_products{
    margin-bottom: 40px;
}
    

.our_products h2 {
    text-align: center;
    margin-bottom: 30px;
    color: blueviolet;
    font-size: 28px;
    border-bottom: 2px solid #4CAF50;
}body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}





